<nav id='sidebar-icon-links'>

	<a id='github-link' class='icon' title='email' href='mailto:prajwal@liverpool.ac.uk'>
		<img src='assets/gmail.png' style='max-width: 10px; height: auto'>
	</a>
	<a id='github-link' class='icon' title='linkedin' href='https://www.linkedin.com/in/bharadwajprajwal/'>
		<img src='assets/linkedin.png' style='max-width: 10px; height: auto'>
	</a>
	<a id='github-link' class='icon' title='cv' href='mailto:prajwal@liverpool.ac.uk'>
		<img src='assets/cv.png' style='max-width: 10px; height: auto'>
	</a>

</nav>
